unsigned numSMs = 48
unsigned numSubcorePerSM = 4
unsigned maxThreadsPerSM = 1536
unsigned maxCTAPerSM = 32
unsigned registerPerSM = 65536
double coreFreq = 2.58

std::string wrapSchedulePolicy = gty

// operation latency
unsigned intLatency = 2
unsigned fpLatency = 2
unsigned dpLatency = 64
unsigned sfuLatency = 21
unsigned specializedUnit1Latency = 4
unsigned specializedUnit2Latency = 200
unsigned specializedUnit3Latency = 32
unsigned specializedUnit4Latency = 4
unsigned specializedUnit5Latency
unsigned specializedUnit6Latency
unsigned specializedUnit7Latency
unsigned specializedUnit8Latency

// operation initiation interval
unsigned intInitIntv = 2
unsigned fpInitIntv = 1
unsigned dpInitIntv = 64
unsigned sfuInitIntv = 8
unsigned specializedUnit1IntiIntv = 4
unsigned specializedUnit2IntiIntv = 4
unsigned specializedUnit3IntiIntv = 32
unsigned specializedUnit4IntiIntv = 1
unsigned specializedUnit5IntiIntv
unsigned specializedUnit6IntiIntv
unsigned specializedUnit7IntiIntv
unsigned specializedUnit8IntiIntv

// static latency of pipeline stages. register file read, Bank, FU lane will be modeled separtely
unsigned computePipeline = 3
unsigned loadPipeline = 0
unsigned storePipeline = 4

unsigned operandCollectorQue = 8
unsigned fuQue = 2

unsigned regFileReadThroughput = 2

// OpFUMap

// L1 data cache
unsigned l1DLatency = 39
EWritePolicy l1DWritePolicy = 1
EWriteAllocatePolicy l1DWriteAllocatePolicy = 2

unsigned l1DnSet = 4
unsigned l1DAssoc = 256
unsigned l1DLineSize = 128
EHashFunction l1DSetHashFunction = 0
unsigned l1DnBank = 4
EHashFunction l1DBankHashFunction = 0
unsigned l1DLog2BankInterleaveByte = 32
unsigned nSectorPerLine = 4
unsigned nMSHR = 384

unsigned sharedMemLatency = 29
std::vector<unsigned> sharedMemSizeOption = {0, 8192, 16384, 32768, 65536, 102400}

// L2 cache
unsigned L2Latency = 301
EWritePolicy L2WritePolicy = 0
EWriteAllocatePolicy L2WriteAllocatePolicy = 2

unsigned l2DnSet = 1024
unsigned l2DAssoc = 16
unsigned l2DLineSize = 128
EHashFunction l2DSetHashFunction = 0
unsigned l2DnPerMem = 2

// interconnect
double maxNoCBW = 3962.88

// memory
unsigned dramLatency = 255
double maxDRAMBW = 448.064
unsigned numMems = 12

// kernel launch overhead
unsigned kernelLaunchOverhead = 4000